*{
    box-sizing: border-box;
}
header{
    background-color: lightgreen;
    color:white;
    text-align: center;
    margin:0px;
    padding:20px;
}
nav{
    background-color: lightyellow;
    text-align: center;
    font-size: 25px;
}
nav a{
    padding:15px 20px;
    display:inline-block;
    text-decoration: none;
}
nav a:hover{
    background-color: #cda8b8;
    color:white;
}

.img_font1{
    max-width: 400px;
    max-height: 400px;
}